menuentry "DaOS" {
    insmod vbe
    insmod gfxterm

    set gfxmode=640x480x32
    set gfxpayload=keep

    terminal_output gfxterm

    multiboot2 /boot/daos
    #module2 /boot/video.bin "video"
    boot
}